<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Momochi</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <form action="/" method="post">
        <label for="name">Nombre</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="address">Dirección</label><br>
        <input type="text" id="address" name="address" required><br><br>

        <label for="phone">Teléfono</label><br>
        <input type="tel" id="phone" name="phone" required><br><br>

        <label for="phone">Correo</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone">Contraseña</label><br>
        <input type="password" id="password" name="password" required><br><br>
        

        <label for="type">Tipo de Inscripción:</label><br>
        <select id="type" name="type">
            <option value="normal">Normal</option>
            <option value="paid">Paid</option>
        </select><br><br>

        <input type="submit" value="Enviar">
    </form>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

</body>
</html>